.violin-image {
    width: 50%;
    margin-right: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
    float: left;
}

body {
    background-color: #B9B4C7;
   

}

h1 {
    color: #FAF0E6;
    font-size: 24pt;
    display: inline-block;
    margin-top: 10px;
    
}

.button {
    color: #FAF0E6;
    text-decoration: none;
    margin-left: 40px;

}

.menu {
    float: right;
    margin-top: 20px;
    margin-right: 50px
}

.summary {
    color: #FAF0E6;
    border: solid #5C5470;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
    font-size: 16pt;
    margin-right: 50px;
    margin-top: 150px;
}

header {
    background-color: #352F44;
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
    position: fixed;
    font-family: "Baskervville SC", serif;
}

.reviews {
    clear: both;
}

.single-review {
    color: #FAF0E6;
    border: solid #5C5470 20px;
    padding: 20px;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-style: italic;
    font-size: 14pt;
}

.review-title {
    text-align: center;
    margin-top: 100px;
    color: #FAF0E6;
    font-size: 2rem;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 40%;
    margin-left: 20px;
    margin-top: 10px;
}

footer {
    color: #FAF0E6;
    font: 10pt;
    margin-top: 100px;
}

@media (min-width: 800px) and (max-width: 960px) {
    .youtube {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .summary {
        clear: both;
        margin: 10px;
    }

    .violin-image {
        width: 100%;
    }

    .youtube {
        aspect-ratio: 16 / 9;
        width: 100%;
    }

    .single-review {
        margin: 5px;
        margin-bottom: 20px;
    }

    h1 {
        display: block;
        text-align: center;
    }

    .menu {
       float: none;
       text-align: center;
    }

    .button:hover {
        background-color: #352F44;
    }

}
